<%= form_for(@log_unit, :html => { :class => "form-horizontal" }) do |f| %>
  <fieldset>
    <legend>Enter the details of your new log entry</legend>
  <% if @log_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_unit.errors.count, "error") %> prohibited this log_unit from being saved:</h2>

      <ul>
      <% @log_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :start, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :start, :class => "datepicker" %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :end, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :end, :class => "datepicker" %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :class => "input-xlarge", :rows => 3 %>
      <p>Describe your work in 10 or more words.</p>
    </div>
  </div>
  <div class="actions form-actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= f.button "Reset", :type => "reset", :class => "btn" %>
  </div>
</fieldset>
<% end %>
