<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @agenda.start %>
</p>

<p>
  <b>End:</b>
  <%= @agenda.end %>
</p>

<p>
  <b>User:</b>
  <%= @agenda.user %>
</p>


<%= link_to 'Edit', edit_agenda_path(@agenda) %> |
<%= link_to 'Back', agendas_path %>
